name: ecosort
description: EcoSort - Glass & Paper Demo (static detection)
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # For picking image on mobile & web (web uses image_picker_for_web automatically)
  image_picker: ^0.8.7+5

  # Google Maps plugin (has web support via plugin web implementation)
  google_maps_flutter: ^2.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/recycle_logo.png
